<!DOCTYPE html>
<html ng-app="redditClone">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
        <title>Reddit Clone</title>

    </head>
    <body ng-controller="redditController">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Reddit Clone</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li ><a ng-cloak href="#" ng-click="addPost()"> <i class="fa fa-plus" aria-hidden="true"></i> Submit Post</a></li>
              </ul>
              <div class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Sort By Votes</button>
            </div>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
            <form ng-cloak class="form" name="theForm" ng-show="showPostForm" ng-submit="submitPost(theForm)">
                <label for="title">Title</label>
                <input ng-minlength="2" name="title" ng-model="post.title" type="text"  required class="form-control">
                <label for="Author">Author </label>
                <input ng-minlength="2" name="author" ng-model="post.author" type="text"  required class="form-control">
                <label for="Author">Image URL </label>
                <input ng-minlength="2" name="author" ng-model="post.url" type="url" required class="form-control">
                <label for="Author">Description</label>
                <input ng-minlength="2" name="author" ng-model="post.description" type="text" required class="form-control">
                <br>
                <input type="submit" class="btn btn-default" value="Submit">
            </form>


            <div ng-cloak ng-repeat="post in posts" class="row post">
                <div class="col-md-2 img">
                    <img class="picture" ng-src="{{post.img}}" />
                </div>
                <div class="col-md-10 content">
                    <div class="title">
                        <p>{{post.title}} | <i ng-click="upVote($index)" class="fa fa-arrow-up" aria-hidden="true"></i> <i ng-click="downVote($index)" class="fa fa-arrow-down" aria-hidden="true"></i> <span ng-class="{green: post.votes > 0, red: post.votes < 0}">{{post.votes}}</span></p>
                    </div>
                    <p class="author">
                        {{post.author}}
                    </p>
                    <div class="description">
                        {{post.description}}
                    </div>
                    <div class="footer">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Date | <i class="fa fa-comment" aria-hidden="true"></i> 2 Comments | <i class="fa fa-pencil" aria-hidden="true"></i> Add Comment
                    </div>

                </div>
            </div>
        </div>




        <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script> -->
        <script src="https://use.fontawesome.com/47c4710be2.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
        <script src="app.js" charset="utf-8"></script>
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script> -->
    </body>
</html>
